.section-team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.heading-team {
  position: absolute;
  top: 2%;
  color: #1eb2a6;
  font-size: 61px;
  font-weight: 600;
}
.team {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-card {
  position: relative;
  width: 290px;
  height: 290px;
  background-color: #1eb2a6;
  border-radius: 10px;
  perspective: 1000px;
  margin: 0 120px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.profile-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img img {
  object-fit: fill;
  width: 100%;
  border-radius: 10px;
  transition: all 0.4s;
  z-index: 99;
}

.caption {
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s;
}

.icon {
  color: #333;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.3s;
}

.icon:hover {
  box-shadow: 0 0 0.625em #1eb2a6;
  color: #1eb2a6;
}

.caption h3 {
  font-size: 21px;
  color: #333;
  font-weight: 600;
}

.caption p {
  font-size: 15px;
  font-weight: 500;
  margin: 2px 0 5px 0;
}

.caption .social-links i {
  font-size: 21px;
  margin: 0 3px;
  cursor: pointer;
  color: #333;
  transition: all 0.4s;
}

.caption .social-links {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  .icon {
    color: #333;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease 0.3s;
    &:hover {
      box-shadow: 0 0 0.625em #1eb2a6;
      color: #1eb2a6;
    }
  }
}

.guidename{
  color: #333;
  font-size: 25px;
  font-weight: 500;
  align-items: center;
  padding-bottom: 8px;
}

.guidename .mentor{
  color: #1eb2a6;
}


@media screen and (max-width: 768px) {

  .heading-team{
    position: relative; 
    top: auto;
    left: auto;
    padding-top: 20px;
  }

  .profile-card {
    width: 180px; 
    height: 180px; 
    margin: 20px; 
  }

  .team {
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    height: auto; 
    padding-top: 110px;
    padding-bottom: 50px;
  }

  .card-inner {
    transform: rotateY(0deg);
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .caption h3 {
    font-size: 18px; 
  }

  .caption p {
    font-size: 14px;
  }

  .caption .social-links i {
    font-size: 18px; 
  }
}
