.footer {
    background-color: var(--black3);
    color: #fff; 
    padding: 20px;
    text-align: center;
  }
  
  /* Menu items */
  .menuItems {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .menuItem {
    display: inline;
    margin-top: 20px;
    margin-right: 100px; /* Adjust the spacing between menu items */
    transition: all ease 0.3s;
    cursor: pointer;

    &:hover {
      color: #1eb2a6;
    }
  }

  .infoText {
    margin-top: 30px; 
    font-size: 16px;
  }
  
  /* Social icons */
  .socialIcons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--black);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all ease 0.3s;
      &:hover {
        box-shadow: 0 0 0.625em #1eb2a6;
        color: #1eb2a6;
      }
    }
  }
  
  /* Icon styling */
  .icon {
    font-size: 24px; 
    margin: 0 10px; 
    color: #fff; 
    text-decoration: none; 
  }
  
  /* Icon hover effect */
  .icon:hover {
    opacity: 0.8; 
  }
  